meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Responsabilidades en la prestación del servicio de acueducto
meta(meta name="description" content="Para realizar la evaluación y control de la prestación del servicio de acueducto, alcantarillado y aseo, a través del Gobierno Nacional se crea la Superintendencia de Servicios Públicos Domiciliarios - SSPD, entidad encargada de evaluar la gestión de los prestadores de servicios públicos domiciliarios, en cumplimiento de las funciones de inspección, vigilancia y control, de acuerdo con el marco normativo vigente para el sector de agua potable y saneamiento básico. Dicha evaluación involucra el análisis de aspectos financieros, técnicos, comerciales y administrativos, a partir de la información reportada al Sistema Único de Información - SUI; insumos importantes en el análisis y formulación de políticas sectoriales.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")