h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 210601023-01. Diagnosticar procesos de autogestión y prestación del servicio según normativa.