h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Normatividad del sector de agua potable', 'main.html#page/Normatividad_del_sector_de_agua_potable/')
                    +navTemaItem('2', 'Diagnóstico organizacional', 'main.html#page/Diagnostico_organizacional/')