.container
    .header-ecored
        h1 2 Diagnóstico organizacional
    .jumbotron.bg-white
        .sub-ecored#21.mt-5
            h2 2.1 Identificación de documentos registros administrativos y operativos
        img.img-a(src="assets/images/pages/ilustraciones/img14.jpg").img-fluid 
        p.mt-5 En el proceso de inscripción, establecimiento y puesta en marcha del sistema de acueducto para suministro de agua para la población se tienen contemplados diferentes requisitos y compromisos estipulados en la Ley 142 de 1994, los decretos y resoluciones reglamentarias referentes a la prestación del servicio de acueductos.
        p Para llevar a cabalidad el seguimiento y control de las actividades técnicas, operativas, organizativas, administrativas, financieras y comerciales establecidas en la normativa del sector de agua potable y saneamiento básico para su aplicación por parte de las asociaciones de acueductos, juntas administradoras de acueductos, deben tener implementado el proceso de gestión documental donde se relacione de manera específica la información pertinente según los procedimientos organizacionales.
        p A continuación, se describen los documentos mínimos requeridos para el funcionamiento del servicio de acueducto, estos pueden variar de acuerdo la forma organizativa interna. El orden en el que se presenta en algunos casos puede llegar a variar por requerimientos externos. Es importante verificar al momento de realizar cualquier trámite.
        h2.mt-5.color3 Listado de registros y formatos
        #accordionExample.accordion
            .card.mt-5
                #headingOne.card-header
                    h2.mb-0
                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                            h2.mb-0.collapsable-title Inscripción en el Registro Único de Prestadores de Servicios Públicos - RUPS (para el servicio de acueducto)
                #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
                    .card-body
                        | Procedimiento mediante el cual el representante legal de la empresa de acueducto realiza la inscripción ante la SSDP. Los prestadores de servicios públicos procederán a registrar su inscripción en el RUPS dentro de los 10 días calendario siguientes a la fecha de inicio de las actividades de prestación del servicio, es decir que el tiempo comienza a partir de la etapa de inicio de operaciones.
            .card
                #headingTwo.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                            h2.mb-0.collapsable-title Actualización del RUPS
                #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
                    .card-body
                        | Acto por el cual el representante legal de la organización actualiza el registro de la empresa prestadora. Para el caso de las organizaciones se requiere:
                        .list.mt-3.ml-5
                            .list__item
                                .list__item__icon
                                    img(src="assets/images/pages/ilustraciones/vineta.svg", alt="")
                            .list__txt 
                                p Reunir documentos y cumplir condiciones.
                        .list.mt-3.ml-5
                            .list__item
                                .list__item__icon
                                    img(src="assets/images/pages/ilustraciones/vineta.svg", alt="")
                            .list__txt 
                                p Ingresar al Sistema Único de Información - SUI, cargar los datos solicitados en el RUPS.
                        .list.mt-3.ml-5
                            .list__item
                                .list__item__icon
                                    img(src="assets/images/pages/ilustraciones/vineta.svg", alt="")
                            .list__txt 
                                p Radicar la solicitud de actualización a través del administrador RUPS.
            .card
                #heading3.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse3', aria-expanded='false', aria-controls='collapse3')
                            h2.mb-0.collapsable-title Registro Único Tributario - RUT
                #collapse3.collapse(aria-labelledby='heading3', data-parent='#accordionExample')
                    .card-body
                        | Administrado por la Dirección de Impuestos y Aduanas Nacionales – en adelante DIAN, constituye el mecanismo único para identificar, ubicar y clasificar las personas y entidades que tengan la calidad de contribuyentes declarantes del impuesto sobre la renta y no contribuyentes declarantes de ingresos y patrimonio.                        
            .card
                #heading4.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse4', aria-expanded='false', aria-controls='collapse4')
                            h2.mb-0.collapsable-title Inscripción cámara de comercio
                #collapse4.collapse(aria-labelledby='heading4', data-parent='#accordionExample')
                    .card-body
                        | Para llevar a cabo la formalización de su negocio o empresa, la persona natural deberá primero que todo solicitar su inscripción en el RUT, administrado por la DIAN, posteriormente efectuará su inscripción en la matrícula mercantil de la cámara de comercio.     
            .card
                #heading5.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse5', aria-expanded='false', aria-controls='collapse5')
                            h2.mb-0.collapsable-title Escritura pública
                #collapse5.collapse(aria-labelledby='heading5', data-parent='#accordionExample')
                    .card-body
                        | Para verificar la fecha de constitución de la empresa.     
            .card
                #heading6.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse6', aria-expanded='false', aria-controls='collapse6')
                            h2.mb-0.collapsable-title Resolución concesión de aguas superficiales
                #collapse6.collapse(aria-labelledby='heading6', data-parent='#accordionExample')
                    .card-body
                        | Es el permiso que otorga la autoridad ambiental para obtener el derecho al aprovechamiento de las aguas superficiales para fines de abastecimiento en los casos que requiera derivación. Se otorga mediante una resolución por intermedio de la autoridad ambiental de la jurisdicción.   
            .card
                #heading7.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse7', aria-expanded='false', aria-controls='collapse7')
                            h2.mb-0.collapsable-title Estructura organizacional y administrativa
                #collapse7.collapse(aria-labelledby='heading7', data-parent='#accordionExample')
                    .card-body
                        | Se entiende como estructura organizacional a las formas de organización interna y administrativa de una empresa u organización. Esto incluye también el reparto del trabajo en áreas o departamentos determinados según esa misma estructura.    
            .card
                #heading8.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse8', aria-expanded='false', aria-controls='collapse8')
                            h2.mb-0.collapsable-title Estatutos de la asociación
                #collapse8.collapse(aria-labelledby='heading8', data-parent='#accordionExample')
                    .card-body
                        | Los estatutos de una organización sin fines de lucro son los reglamentos internos que rigen cómo se administrará la organización y sus estructuras básicas. Los estatutos crean un marco de referencia para el funcionamiento de la organización y ayudan a imponer orden en sus procedimientos y toma de decisiones. Generalmente, los estatutos contienen información de aspecto general como el nombre oficial de la organización, su sede principal, y el propósito de la misma.     
            .card
                #heading9.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse9', aria-expanded='false', aria-controls='collapse9')
                            h2.mb-0.collapsable-title Registro de suscriptores del sistema de acueducto
                #collapse9.collapse(aria-labelledby='heading9', data-parent='#accordionExample')
                    .card-body
                        | Documento donde se relaciona la totalidad de los suscriptores beneficiarios del servicio de acueducto.     
            .card
                #heading10.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse10', aria-expanded='false', aria-controls='collapse10')
                            h2.mb-0.collapsable-title Registros contables
                #collapse10.collapse(aria-labelledby='heading10', data-parent='#accordionExample')
                    .card-body
                        | Las asociaciones han de disponer de una relación actualizada de sus asociados, llevar una contabilidad que permita obtener la imagen fiel del patrimonio, del resultado y de la situación financiera de la entidad, así como las actividades realizadas.    
            .card
                #heading11.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse11', aria-expanded='false', aria-controls='collapse11')
                            h2.mb-0.collapsable-title Diagnóstico del área de influencia del acueducto
                #collapse11.collapse(aria-labelledby='heading11', data-parent='#accordionExample')
                    .card-body
                        | Documento técnico elaborado por personal especializado el cual contiene las características de los recursos agua, suelo, la flora, la fauna, los aspectos socioeconómicos de la población ubicada en el área de la microcuenca y relación de los problemas de carácter ambiental.    
            .card
                #heading12.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse12', aria-expanded='false', aria-controls='collapse12')
                            h2.mb-0.collapsable-title Resultados del análisis fisicoquímico y microbiológico
                #collapse12.collapse(aria-labelledby='heading12', data-parent='#accordionExample')
                    .card-body
                        | Documento oficial donde se especifican de manera detallada los resultados emitidos por laboratorios certificados producto de la toma de muestras, indicando   el   estado   de riesgo y la calidad del agua.    
            .card
                #heading13.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse13', aria-expanded='false', aria-controls='collapse13')
                            h2.mb-0.collapsable-title Acta de concertación de puntos y lugares de muestreo
                #collapse13.collapse(aria-labelledby='heading13', data-parent='#accordionExample')
                    .card-body
                        | La persona prestadora y la autoridad sanitaria competente deben concertar los puntos y lugares de muestreo de la calidad del agua para consumo humano. El reporte de los puntos seleccionados se debe realizar mediante acta firmada entre la autoridad sanitaria y la persona prestadora de la jurisdicción, en donde se indiquen los nombres e identificaciones de los representantes. La materialización de los puntos de muestreo siguiendo los criterios de localización definidos en el artículo 2 la Resolución 0811 de 2008, la ubicación de los puntos la hará la persona prestadora mediante la instalación de los accesorios requeridos a la tubería de distribución en el sitio seleccionado.    
            .card
                #heading14.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse14', aria-expanded='false', aria-controls='collapse14')
                            h2.mb-0.collapsable-title Acta de conformidad
                #collapse14.collapse(aria-labelledby='heading14', data-parent='#accordionExample')
                    .card-body
                        | Una vez se materialicen los puntos de muestreo, la autoridad sanitaria y la persona prestadora de la jurisdicción deben suscribir un acta final de recibo a conformidad de los puntos de muestreo de la calidad de agua para consumo humano, en donde además quede claramente establecido el procedimiento de acceso al dispositivo de recolección de la muestra.     
            .card
                #heading15.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse15', aria-expanded='false', aria-controls='collapse15')
                            h2.mb-0.collapsable-title Registro de toma de muestras según puntos concertados
                #collapse15.collapse(aria-labelledby='heading15', data-parent='#accordionExample')
                    .card-body
                        | Para la recolección de la muestra de vigilancia en la red de distribución, la autoridad sanitaria deberá dar aviso a la persona prestadora quien podrá tomar la muestra que requiera en forma simultánea y conjunta. De esta actividad, deberá elaborarse un acta de toma de muestra de agua firmada por las dos partes.    
            .card
                #heading16.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse16', aria-expanded='false', aria-controls='collapse16')
                            h2.mb-0.collapsable-title Registro de aforos en los afluentes del acueducto
                #collapse16.collapse(aria-labelledby='heading16', data-parent='#accordionExample')
                    .card-body
                        | Documento controlado por la organización con el propósito de diligenciar los datos relacionados con la medición del caudal de entrada a la bocatoma del acueducto, este sirve de control para comparar el caudal permitido en la resolución de la concesión otorgada.     
            .card
                #heading17.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse17', aria-expanded='false', aria-controls='collapse17')
                            h2.mb-0.collapsable-title Registro de operación y mantenimiento del sistema de acueducto
                #collapse17.collapse(aria-labelledby='heading17', data-parent='#accordionExample')
                    .card-body
                        | Documento controlado por la organización dirigido a los operarios del sistema donde se diligencian las actividades de instalación, reparación, mantenimiento del sistema de redes y estructuras captación, almacenamiento y distribución.    
            .card
                #heading18.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse18', aria-expanded='false', aria-controls='collapse18')
                            h2.mb-0.collapsable-title Registro de operación del proceso de tratamiento
                #collapse18.collapse(aria-labelledby='heading18', data-parent='#accordionExample')
                    .card-body
                        | Documento controlado por la organización donde se registran los datos pertinentes del proceso de tratamiento del agua, o en su defecto únicamente, aplicación del proceso de cloración por goteo.  
        .sub-ecored#22.mt-5
            h2 2.2 Herramientas de diagnóstico organizacional
        img.img-a(src="assets/images/pages/ilustraciones/img15.jpg").img-fluid 
        p.mt-5 El diagnóstico organizacional de una empresa se constituye en un elemento trascendental con el propósito de identificar a través del contexto general, los aspectos relacionados con el funcionamiento integral, en donde se describen los ítems de cada área o grupo de trabajo, para efectos de evaluar la situación actual de desempeño de la organización planteando las causas y efectos.  
        p La prestación del servicio de acueducto requiere la participación de actores tanto internos como externos, razón por la cual como se mencionaba anteriormente se hace necesaria la gestión de los procesos tanto estructurales como organizacionales.
        p Para iniciar con el diagnóstico es necesario contextualizar los diferentes tipos de ESP según su carácter, de acuerdo con la Ley 142 de 1994 estas se clasifican en públicas, mixtas o privadas. 
        p En el siguiente cuadro encontraremos información más detallada sobre los tipos de empresa.
        table
            tbody
                tr
                    td.tb-title 
                        h3 Nombre
                    td.tb-title 
                        h3 Naturaleza Jurídica
                    td.tb-title 
                        h3 Tipo
                    td.tb-title 
                        h3 Descripción general
                tr
                    td.tb-cell Empresas de servicios públicos - ESP
                    td.tb-cell
                        p Sociedades por acciones
                    td.tb-cell
                        p Oficial, privada o mixta
                    td.tb-cell
                        p Empresas cuyo capital público o privado está representado en acciones.                  
                tr
                    td.tb-cell
                        p
                    td.tb-cell
                        p Empresa industrial y comercial
                    td.tb-cell
                        p Oficial
                    td.tb-cell
                        p Constituidas con el 100% de aportes de la Nación, los departamentos, los distritos, los municipios o las entidades descentralizadas.
                tr
                    td.tb-cell
                        p Municipios
                    td.tb-cell
                        p Entidad territorial
                    td.tb-cell
                        p Entidad estatal
                    td.tb-cell
                        p El Municipio administra directamente la prestación del servicio a través de una dependencia creada especialmente para estos efectos.
                tr
                    td.tb-cell
                        p Organizaciones Comunitarias
                    td.tb-cell
                        p Personas jurídicas sin ánimo de lucro
                    td.tb-cell
                        p Privada
                    td.tb-cell
                        p Son organizaciones como juntas administradoras, asociaciones de usuarios y cooperativas de servicios públicos. Dichas organizaciones son grupos de personas que se asocian voluntariamente para la prestación del servicio. Su objetivo es promover el desarrollo social y económico de la comunidad.
        p.mt-3 Tabla tomada de Ministerio Vivienda, Ciudad y Territorio, (2014)
        p.mt-5 No todos los sistemas de distribución de agua son iguales o cumplen con las normas establecidas por la ley de servicios públicos domiciliarios. Es por ello que a partir de la Ley 142 de 1994 se han reglamentado los procesos y procedimientos legales que deben cumplir las empresas y acueductos comunitarios ubicados en municipios menores y zonas rurales, con el propósito de establecer acciones de mejora continua en la prestación del servicio.
        h2.color3.mt-5 Funciones de las ESP 
        p.mt-3 Las ESP están conformadas por las siguientes áreas y funciones, para este caso, se trata de una empresa de acueducto en municipios menores y zonas rurales.
        nav.nav-tab-ecored.my-5
            #nav-tab.nav.nav-tabs(role='tablist')
                a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                    strong Área operativa
                a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                    strong Área comercial
                a#nav-03-tab.nav-item.nav-link(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='false') 
                    strong Área financiera
                a#nav-04-tab.nav-item.nav-link(data-toggle='tab', href='#nav-04', role='tab', aria-controls='nav-04', aria-selected='false') 
                    strong Área administrativa               
            #nav-tabContent.tab-content
                #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')
                    .jumbotron
                        h2.color7 Área operativa
                        p.mt-3 Se encarga de mantener en buenas condiciones todos los componentes del acueducto para recibir agua de buena calidad. Esta área debe realizar las siguientes actividades:
                        .color6
                            .list.ml-5.mt-3
                                .list__item
                                    .list__item__icon
                                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="")
                                .list__txt 
                                    p Cuidar las cuencas.
                            .list.ml-5
                                .list__item
                                    .list__item__icon
                                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="")
                                .list__txt 
                                    p Tratar o potabilizar el agua.
                            .list.ml-5
                                .list__item
                                    .list__item__icon
                                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="")
                                .list__txt 
                                    p Instalar los micromedidores y las conexiones a las viviendas.
                            .list.ml-5
                                .list__item
                                    .list__item__icon
                                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="")
                                .list__txt 
                                    p Reparar daños del acueducto y el alcantarillado.
                            .list.ml-5
                                .list__item
                                    .list__item__icon
                                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="")
                                .list__txt 
                                    p Barrer las calles, recoger y disponer de las basuras.
                            .list.ml-5
                                .list__item
                                    .list__item__icon
                                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="")
                                .list__txt 
                                    p Revisar y controlar fugas de agua.
                            .list.ml-5
                                .list__item
                                    .list__item__icon
                                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="")
                                .list__txt 
                                    p Realizar los cortes y las suspensiones del servicio que ordene el área comercial.
                        p.mt-3 El control de pérdidas y fugas de agua es una de las actividades más importantes de esta área. Estas actividades se refieren al control y vigilancia que realiza la empresa de servicios públicos sobre los componentes o partes del acueducto, para evitar que el agua se pierda y/o desperdicie o que se cometan errores de medición.
                        img.img-a(src="assets/images/pages/ilustraciones/img16.svg").img-fluid 
                        p Las ESP tienen la responsabilidad de realizar actividades de control y vigilancia en el acueducto para evitar, en lo posible, las pérdidas de agua. Controlar las pérdidas y las fugas de agua es una actividad muy importante que la empresa no puede descuidar porque no sólo ocasiona pérdidas de dinero, sino que además se pierden grandes cantidades de agua que se podrían utilizar para ofrecerla a otras personas que no pueden disfrutar de este servicio. Para realizar actividades de control de pérdida de agua es indispensable contar con la participación, no sólo de los funcionarios de la empresa, sino también de los pobladores de la región (Ministerio Vivienda, Ciudad y Territorio, 2014).
                        p Las pérdidas de agua pueden ocurrir por varias razones. Le invitamos a revisar el siguiente cuadro:
                        table
                            tbody
                                tr
                                    td.tb-title 
                                        h3 Causas de pérdidas de agua
                                    td.tb-title 
                                        h3 Recomendaciones
                                tr
                                    td.tb-cell
                                        p Fugas o escapes en las tuberías y demás componentes del sistema de acueducto o por rebosamiento de los tanques de almacenamiento.
                                    td.tb-cell
                                        p Informar a la empresa sobre cualquier fuga que observe.               
                                tr
                                    td.tb-cell
                                        p Conexiones piratas o clandestinas para no pagar por el servicio.                
                                    td.tb-cell
                                        p Propender por conexiones legales e informar a la empresa sobre instalaciones fraudulentas.  
                                tr
                                    td.tb-cell
                                        p  Desperdicio o consumos innecesarios de usuarios sin micromedidor. Un claro ejemplo es cuando al bañarnos se deja la llave abierta mientras se enjabona. Muchas veces estas pérdidas de agua ocurren porque hay escapes o daños en las tuberías y en los tanques de agua.               
                                    td.tb-cell
                                        p  Revisar el estado de tuberías y tanques de agua, y cuando se identifique un daño repararlo para evitar que se pierda agua y evitar un cobro excesivo del servicio. 
                                        p Al cerrar la llave, fijarse que no quede goteando. Revisar y cambiar empaques cada vez que sea necesario. 
                                        p La empresa debe disminuir los consumos operacionales y contabilizar el agua que utiliza en estas actividades. 
                                tr
                                    td.tb-cell
                                        p  Consumos operacionales que requieren del agua para lavado y desinfección de tuberías y reservorios del acueducto.
                                        p Consumos especiales, como, por ejemplo, cuando la utilizan los bomberos para atender emergencias.
                                        p Imprecisión de los equipos de medición de agua (micromedición) ocasionando fallas al facturar o cobrar el servicio al usuario.               
                                    td.tb-cell
                                        p La empresa debe hacer mantenimiento rutinario a los micromedidores y reemplazar los que ya cumplieron su vida útil.  
                        p.mt-3 Tabla adaptada de Ministerio Vivienda, Ciudad y Territorio, (2014)
                #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                    .jumbotron
                        h2.color7 Área comercial
                        p.mt-3 Se encarga de la atención a los usuarios y el cobro del servicio. También atiende dudas y reclamos del usuario.
                        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img17.svg", alt="").img-fluid
                        p El valor del servicio de agua que ofrece la empresa de acueducto se cobra por medio de una factura que la empresa envía a cada usuario. El valor de la factura se calcula con base en la cantidad de agua que consumen los usuarios cada mes o cada dos meses. Para calcular la cantidad de metros cúbicos de agua que hemos utilizado o consumido, la empresa instala en nuestras casas un contador o medidor que registra cuánta agua usamos. La factura debe contener la información suficiente para saber cómo se calculó el valor del agua que utilizamos y el plazo para pagar. La empresa debe entregar la factura a los suscriptores por lo menos 5 días hábiles antes de la fecha de pago señalada en el recibo (Ministerio Vivienda, Ciudad y Territorio, 2014).
                        p Las principales actividades de esta área son:
                        .color6
                            .list.ml-5.mt-3
                                .list__item
                                    .list__item__number
                                        span 1
                                .list__txt 
                                    p Revisar y leer los micromedidores o contadores para medir la cantidad de agua utilizada por los usuarios.
                            .list.ml-5
                                .list__item
                                    .list__item__number
                                        span 2
                                .list__txt 
                                    p Tener un registro actualizado de suscriptores y micromedidores instalados.
                            .list.ml-5
                                .list__item
                                    .list__item__number
                                        span 3
                                .list__txt 
                                    p Elaborar facturas para cobrar el consumo de agua.
                            .list.ml-5
                                .list__item
                                    .list__item__number
                                        span 4
                                .list__txt 
                                    p Ordenar el corte del servicio a los usuarios morosos.
                            .list.ml-5
                                .list__item
                                    .list__item__number
                                        span 5
                                .list__txt 
                                    p Elaborar y ejecutar un programa de uso eficiente y ahorro del agua y adelantar campañas de capacitación a los usuarios.
                #nav-03.tab-pane.fade(role='tabpanel', aria-labelledby='nav-03-tab')
                    .jumbotron
                        h2.color7 Área financiera 
                        p.mt-3 Realiza actividades relacionadas con las cuentas que se llevan de la empresa, tanto de dinero recibido por concepto de facturación como de los gastos hechos por operación, mantenimiento y administración del acueducto.
                        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img18.svg", alt="").img-fluid

                #nav-04.tab-pane.fade(role='tabpanel', aria-labelledby='nav-04-tab')
                    .jumbotron
                        h2.color7 Área administrativa 
                        p.mt-3 Esta área se encarga de contratar, capacitar y administrar a los empleados y trabajadores. También se encarga de la compra y administración de los materiales (tuberías y químicos) para la operación del acueducto. El administrador o gerente de la empresa hace la planeación del servicio y el manejo de la información (Ministerio Vivienda, Ciudad y Territorio, 2014).
                        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img19.svg", alt="").img-fluid   
                        p.mt-3 Las principales actividades de esta área son:
                        .color6
                            .list.ml-5.mt-3
                                .list__item
                                    .list__item__icon
                                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="")
                                .list__txt 
                                    p Seleccionar y contratar trabajadores de la empresa.
                            .list.ml-5
                                .list__item
                                    .list__item__icon
                                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="")
                                .list__txt 
                                    p Capacitar a los trabajadores para que desarrollen bien su labor.
                            .list.ml-5
                                .list__item
                                    .list__item__icon
                                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="")
                                .list__txt 
                                    p  Compra y manejo de materiales para la operación del acueducto.
                        p.mt-3 La mayoría de las ESP de los municipios menores y de las zonas rurales son pequeñas y su número de trabajadores está entre una y seis personas que realizan las funciones administrativas, operativas, financieras y comerciales de la empresa. Es común encontrar casos donde una sola persona desempeña diferentes roles (Ministerio Vivienda, Ciudad y Territorio, 2014).    
        .color8
            .row.justify-content-center.align-items-center
                .col-2
                    img.img-a(src="assets/images/pages/ilustraciones/img20.svg", alt="").img-fluid 
                .col-6 
                    h2.color3 Actividad didáctica
                    p.mt-3 Ahora lo invitamos a realizar una prueba para saber cuánto ha aprendido. Este ejercicio no es evaluable, el propósito es que identifique los conocimientos adquiridos hasta el momento. 
                    a(href="#" target="_blank")
                        .caja9.mt-3
                            h2.text-center INICIAR
                .col-4         
                    img.img-a(src="assets/images/pages/ilustraciones/img21.svg", alt="").img-fluid        
        h2.color3.mt-5 Participación ciudadana en las ESP
        p.mt-3 La mayoría de las ESP de los municipios menores y de las zonas rurales son pequeñas y su número de trabajadores está entre una y seis personas que realizan las funciones administrativas, operativas, financieras y comerciales de la empresa. Es común encontrar casos donde una sola persona desempeña diferentes roles (Ministerio Vivienda, Ciudad y Territorio, 2014).
            .row.justify-content-center.align-items-center
                .col-8
                    .hr1
                    .list.ml-5.mt-3
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="")
                        .list__txt 
                            p  Integrar al comité de desarrollo y control social.
                    .hr1
                    .list.ml-5.mt-3
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="")
                        .list__txt 
                            p  Participar en las juntas directivas de las empresas oficiales de servicios públicos.
                    .hr1
                    .list.ml-5.mt-3
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="")
                        .list__txt 
                            p  Integrar juntas de vigilancia.
                    .hr1
        p.mt-3 Organizar los usuarios para presentar iniciativas a la empresa o al comité de desarrollo y control social, para mejorar la prestación del servicio en el municipio (Ministerio Vivienda, Ciudad y Territorio,2014).
        .row.justify-content-center
            .col-4
                a(btn data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1")
                    img.img-a.mt-5(src="assets/images/pages/ilustraciones/img22.svg", alt="").img-fluid
                .color5(class="collapse multi-collapse" id="multiCollapseExample1")
                    p.mt-3.ml-3.mr-3 La Ley 142 de 1994 reglamentó la participación de los usuarios mediante la conformación de los comités de desarrollo y control social. Estos comités están compuestos por un grupo de personas de la comunidad que se organizan para participar, no sólo en la vigilancia y control del servicio que ofrece la empresa de servicios públicos, sino también para proponer acciones y ofrecer el apoyo de la comunidad para mejorar el servicio que presta la empresa. Los comités eligen un vocal de control para que los represente ante las ESP, ante las entidades territoriales y ante las autoridades nacionales.
            .col-4
                a(btn data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1")
                    img.img-a.mt-5(src="assets/images/pages/ilustraciones/img23.svg", alt="").img-fluid
                .color5(class="collapse multi-collapse" id="multiCollapseExample1")
                    p.mt-3.ml-3.mr-3 La Ley 134 de 1994 o ley de participación ciudadana, creó las juntas de vigilancia como medio o mecanismo de participación de la comunidad. Estas juntas están conformadas por organizaciones comunitarias, y sus funciones principales son apoyar la gestión y prestación de los servicios públicos, y poner en conocimiento del personero, contralor municipal y demás autoridades, las anomalías o deficiencias relacionadas con la prestación de los servicios (Ministerio Vivienda, Ciudad y Territorio, 2014).
        h2.color3.mt-5 Alternativas para el diagnóstico organizacional
        p.mt-3 Para la realización del diagnóstico existen varias herramientas, las cuales pueden ser utilizadas según el propósito y el ámbito de aplicación, se mencionarán a manera de referencia algunas de éstas aplicables al contexto de los acueductos.
        .row.justify-content-center.align-items-center.mt-5
            .col-9
                .jumbotron
                    h2.text-center #[strong.color3 a)] Diagrama de afinidad 
                    img.img-a.mt-5(src="assets/images/pages/ilustraciones/img24.svg", alt="").img-fluid 
                    p.mt-5 Es una herramienta que permite sintetizar y organizar ideas, datos, opiniones, temas y expresiones, aportados por un grupo de personas sobre un problema en específico, la información es agrupada en función de la relación que tienen entre sí. Se basa en el principio de que muchos de estos datos son afines, lo que permite reunirse bajo unas categorías. El diagrama es de fácil realización, su aplicación está indicada cuando se necesita organizar un conjunto amplio de datos, para abordar un problema complejo de manera directa, o cuando sea necesario el consenso del grupo. También conocido como método KJ, fue desarrollado por el antropólogo japonés Jiro Kawakita, en año1960 (Alteco, 2020).
            .col-9
                .jumbotron
                    h2.text-center #[strong.color3 b)] Análisis FODA
                    img.img-a.mt-5(src="assets/images/pages/ilustraciones/img25.svg", alt="").img-fluid 
                    p.mt-5 Esta tarea tiene por objetivo analizar las fortalezas y las debilidades internas de la organización, así como las oportunidades y las amenazas que presenta el ambiente externo y la organización misma. Todo plan estratégico debe abordar el sistema como un todo (la organización como un todo) y también todo el contexto externo que lo envuelve (el mercado y los públicos estratégicos) con el propósito de analizar los aspectos positivos y negativos que obstaculizarán o facilitarán las acciones futuras (Chiavenato, 2020). 
            .col-9
                .jumbotron
                    h2.text-center #[strong.color3 c)] Árbol de problemas 
                    img.img-a.mt-5(src="assets/images/pages/ilustraciones/img26.svg", alt="").img-fluid 
                    p.mt-5 El árbol de problemas es una herramienta que se emplea para identificar y comprender una problemática, la cual se intenta solucionar analizando relaciones de tipo causa-efecto. Para ello, se debe formular el problema central de modo tal que permita identificar diferentes alternativas de solución. 
                    p Luego de haber sido definido el problema central (en pocas palabras y como un estado negativo), se exponen tanto las causas que lo generan como los efectos negativos provocados por el problema, y se interrelacionan los tres componentes de una manera gráfica, finalmente se recomienda verificar la lógica e integridad del esquema. (Organización de las Naciones Unidas para la Educación, la Ciencia y la Cultura, 2020).
            .col-9
                .jumbotron
                    h2.text-center #[strong.color3 d)] Diagrama de espina de pescado
                    img.img-a.mt-5(src="assets/images/pages/ilustraciones/img27.svg", alt="").img-fluid 
                    p.mt-5 El diagrama de Ishikawa o diagrama de causa efecto; conocido también como diagrama de espina de pescado (dada su estructura), se expresa mediante una representación gráfica que permite visualizar las causas (raíces) que explican un problema; de manera que tiene en cuenta todos los aspectos que pueden haber llevado a la ocurrencia del problema.  El diagrama de Ishikawa es una herramienta de gestión ampliamente utilizada, y orientada a la toma de decisiones.
                    p La utilización del diagrama de Ishikawa se complementa en buena medida con el diagrama de Pareto, el cual permite priorizar las medidas de acción en aquellas causas que representan mayor complejidad y que usualmente en términos nominales son reducidas (Gestión de operaciones, 2017).
                    p Finalmente, es importante indicar que los elementos abordados hacen parte de la estrategia organizacional, mecanismo mediante el cual la organización interactúa con su contexto ambiental para llevar a cabo su misión y su visión de futuro, alcanzar sus objetivos a largo plazo y garantizar su competitividad y sustentabilidad; para lo cual, desarrolla sus actividades y satisface los requisitos de su público objetivo. La estrategia define el comportamiento de la organización y de sus actividades en un mundo cambiante, volátil, dinámico, complejo y altamente competitivo. (Chiavenato, 2020).
            .col-9
                .jumbotron
                    h2.text-center #[strong.color3 e)] Matriz diagnóstica de la organización (área operativa, administrativa y normativa)
                    p.mt-5 Con el fin de identificar las fortalezas y limitaciones en el funcionamiento del acueducto, se contempla la realización del diagnóstico inicial de la organización; que comprende el diligenciamiento y análisis de las siguientes matrices:
                    p.mt-3 #[strong 1. Matriz diagnóstica administrativa.]
                    p.mt-3 El diligenciamiento de la matriz abarca dos contextos, el primero corresponde al “conocimiento organizacional interno” que a su vez contempla los aspectos: administrativos, organizacionales y estructurales, procesos, cultural organizacional y talento humano. El segundo contexto está enfocado al “conocimiento organizacional externo” que incluye el aspecto: ecosistema de apoyo para la organización, con sus respectivas descripciones para ambos casos.
                    .jumbotron.color10.mt-5
                        .row.justify-content-center.align-items-center.mt-5
                            .col-5
                                p Es importante que descargue la matriz diagnóstica administrativa y revise las indicaciones para su diligenciamiento.
                            .col-1
                                a(href="media/documentos/A4_Matriz_diagnostica_administrativa.pdf" target="_blank") 
                                    img(src="assets/images/pages/ilustraciones/pdf.svg", alt="")
                            .col-3.ml-3
                                a(href="media/documentos/A4_Matriz_diagnostica_administrativa.pdf" target="_blank")
                                    .media-link-title
                                        p #[strong Anexo 4]. #[br] Matriz diagnóstica administrativa
                    .hr2
                    p.mt-3 #[strong 2.  Matriz diagnóstica operativa]
                    p.mt-3 Esta matriz comprende el “conocimiento organizacional interno” para este caso, directamente asociado a la infraestructura del acueducto que a su vez contempla los aspectos correspondientes a área de influencia, estructura del sistema de acueducto, actividades requeridas. 
                    .jumbotron.color10.mt-5
                        .row.justify-content-center.align-items-center.mt-5
                            .col-5
                                p Es importante que descargue la matriz diagnóstica operativa y revise las indicaciones para su diligenciamiento.
                            .col-1
                                a(href="media/documentos/A5_Matriz_diagnostica_operativa.pdf" target="_blank") 
                                    img(src="assets/images/pages/ilustraciones/pdf.svg", alt="")
                            .col-3.ml-3
                                a(href="media/documentos/A5_Matriz_diagnostica_operativa.pdf" target="_blank")
                                    .media-link-title
                                        p #[strong Anexo 5]. #[br] Matriz diagnóstica operativa
                    .hr2                                          
                    p.mt-3 #[strong 3.  Matriz diagnóstica normativa]
                    p.mt-3 Esta matriz tiene como propósito conocer el contexto de la normatividad ambiental y su aplicación en los diferentes escenarios, para esto se tendrá en cuenta el diligenciamiento de los campos criterio de calificación, referente normativo, y recomendación respecto de la aplicación del artículo. 
                    .jumbotron.color10.mt-5
                        .row.justify-content-center.align-items-center
                            .col-5
                                p Es importante que descargue la matriz diagnóstica normativa y revise las indicaciones para su diligenciamiento.
                            .col-1
                                a(href="media/documentos/A6_Matriz_diagnostica_normativa.pdf" target="_blank") 
                                    img(src="assets/images/pages/ilustraciones/pdf.svg", alt="")
                            .col-3.ml-3
                                a(href="media/documentos/A6_Matriz_diagnostica_normativa.pdf" target="_blank")
                                    .media-link-title
                                        p #[strong Anexo 6]. #[br] Matriz diagnóstica normativa
                    .hr2    
        section.mt-5