.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Asociación de usuarios:
            | las asociaciones de usuarios, como comunidades organizadas que son, se encuentran expresamente autorizadas por la por la Ley 142 de 1994 en su artículo 15, para adelantar la prestación de servicios públicos domiciliarios.  Una Asociación de usuarios que presta el servicio de acueducto se encuentra sujeta al control y vigilancia de la SSPD en cuanto tenga que ver con el desarrollo de su objeto social como prestador de dicho servicio público y en el marco de las precisas competencias que le han sido asignadas por la Ley 142 de 1994. (Actualícese, 2013)
        p
            strong.mr-2 Derechos de los servicios públicos:
            | los servicios públicos son inherentes a la finalidad social del Estado. Es deber del Estado asegurar su prestación eficiente a todos los habitantes del territorio nacional. Los servicios públicos estarán sometidos al régimen jurídico que fije la ley, podrán ser prestados por el Estado, directa o indirectamente, por comunidades organizadas, o por particulares. En todo caso, el Estado mantendrá la regulación, el control y la vigilancia de dichos servicios. (Constitución política de Colombia, 2016)
        p
            strong.mr-2 Deberes del servicio público:
            | el diagnóstico organizacional de una empresa se constituye en un elemento trascendental con el propósito de identificar a través del contexto general, los aspectos relacionados con el funcionamiento integral, en donde se describen los ítems de cada área o grupo de trabajo, para efectos de evaluar la situación actual de desempeño de la organización planteando las causas y efectos.
        p
            strong.mr-2 Junta administradora de acueducto:
            | las juntas administradoras de agua potable (y saneamiento) son organizaciones sociales sin fines de lucro que tienen por finalidad prestar el servicio de agua potable en la comunidad. Su finalidad es incrementar los niveles del servicio y el acceso al recurso hídrico. (LATINNO, 2017) 
        p
            strong.mr-2 participación ciudadana:
            | los mecanismos de participación ciudadana son los medios a través de los cuales se materializa el derecho fundamental a la participación democrática, y permiten la intervención de los ciudadanos en la conformación, ejercicio y control del poder político.
            | En ese sentido las entidades públicas del orden nacional y territorial deben formular un plan institucional anual para promover la participación ciudadana, para lo cual se diseñarán acciones en todos los niveles o grados de participación durante todas las fases de la gestión pública. (Ministerio de Educación, 2020)
        p
            strong.mr-2 Registro administrativo:
            | conjunto de datos que contiene la información recogida y conservada por entidades u organizaciones en el cumplimiento de sus funciones o competencias misionales. (Ministro de Agricultura y Desarrollo Rural, 2016)