.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td Ministerio Vivienda, Ciudad. (2014). Nuestra empresa al servicio de la comunidad.
                    td PDF
                    td 
                        a(href="http://eva.gov.co/files/BLOG/04-CARTILLA_NUESTRA_EMPRESA.pdf", target="_blank") <span class="fa fa-dowload" aria-hidden="true"></span> Descargar

                tr
                    td Resumen Ley 142 de 1994. Normatividad del sector. Municipios menores y zonas rurales.
                    td PDF
                    td 
                        a(href="media/documentos/A2_Resumen_Ley_142_de_1994.pdf", target="_blank") <span class="fa fa-dowload" aria-hidden="true"></span> Descargar