include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Actualícese. (24 de mayo de 2013). Concepto 135 de 20-03-2013. En actualicese.com. ", "https://actualicese.com/concepto-135-de-20-03-2013/")
        +referenciaItem("Alteco. consultores desarrollo y gestión. (2020). Diagrama de Afinidad (Método K-J).", "Https://Www.Aiteco.Com/Diagrama-de-Afinidad/")
        +referenciaItem("Chiavenato, I. (2020). Gestión del talento humano. McGraw-Hill Interamericana.", "http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=9350")
        +referenciaItem("Congreso de la República de Colombia. (11 de julio de 1994). Ley 142 de 1994. Por la cual se establece el régimen de los servicios públicos domiciliarios y se dictan otras disposiciones. Diario Oficial 41433", "http://www.secretariasenado.gov.co/senado/basedoc/ley_0142_1994.html")
        +referenciaItem("Congreso de la República de Colombia. (31 de mayo de 1994). Ley 134 de 1994. por la cual se dictan normas sobre mecanismos de participación ciudadana. Diario Oficial 41373.", "http://www.secretariasenado.gov.co/senado/basedoc/ley_0134_1994.html")
        +referenciaItem("Corte Constitucional, Consejo Superior de la Judicatura. (2016). Constitución Política de Colombia 1991.", "https://www.corteconstitucional.gov.co/inicio/Constitucion%20politica%20de%20Colombia.pdf")
        +referenciaItem("Empresas Públicas del Municipio de Tello S.A.S. E.S.P. (2020). ¿Las organizaciones comunitarias organizaciones autorizadas pueden ser prestadoras de los servicios públicos domiciliarios de acueducto, alcantarillado?.", "http://www.eptsasesp.gov.co/preguntas-y-respuestas/las-organizaciones-comunitarias-organizaciones-autorizadas")
        +referenciaItem("Gestión de operaciones. (2017). Qué es el diagrama de Ishikawa o diagrama de causa efecto.", "https://www.gestiondeoperaciones.net/gestion-de-calidad/que-es-el-diagrama-de-ishikawa-o-diagrama-de-causa-efecto/")
        +referenciaItem("LATINNO. (2017). Juntas Administradoras de Agua Potable (y Saneamiento). En LATINNO. Latinno.", "https://latinno.net/es/case/8167/#:%7E:text=Las%20Juntas%20Administradoras%20de%20Agua,agua%20potable%20en%20la%20comunidad", "https://latinno.net/es/case/8167/#:%7E:text= Las%20Juntas%20Administradoras%20de%20Agua,agua%20potable%20en%20la%20comunidad")
        +referenciaItem("Ministerio de Educación. (2020). Participación Ciudadana.", "https://www.mineducacion.gov.co/1759/w3-article-377616.html?_noredirect=1")
        +referenciaItem("Ministerio Vivienda, Ciudad y Territorio. (2014). Nuestra Empresa al Servicio de la Comunidad.", "http://eva.gov.co/files/BLOG/04-CARTILLA_NUESTRA_EMPRESA.pdf")
        +referenciaItem("Ministro de Agricultura y Desarrollo Rural. (1 de noviembre de 2016). Decreto 1743 DE 2016. Por el cual se reglamenta el artículo 160 de la Ley 1753 de 2015 y se adiciona el título 3 a la parte 2 del libro 2 del Decreto 1170 de 2015 Único del Sector Administrativo de Información Estadística.", "https://www.alcaldiabogota.gov.co/sisjur/normas/Norma1.jsp?i=70190")
        +referenciaItem("Ministerio de la Protección Social Ministerio de Ambiente, Vivienda y Desarrollo Territorial. (5 de agosto de 2005). Resolución número 0811 de 2008. Por medio de la cual se definen los lineamientos a partir de los cuales la autoridad sanitaria y las personas prestadoras, concertadamente definirán en su área de influencia los lugares y puntos de muestreo para el control y la vigilancia de la calidad del agua para consumo humano en la red de distribución.", "https://www.ins.gov.co/sivicap/Documentacin%20SIVICAP/2008%20Resoluci%C3%B3n%200811%20Puntos%20de%20muestreo.pdf", "https://www.ins.gov.co/sivicap/Documentacin%20SIVICAP/ 2008%20Resoluci%C3%B3n%200811%20Puntos%20de%20muestreo.pdf")
        +referenciaItem("Organización de las Naciones Unidas para la Educación, la Ciencia y la Cultura. (2020). Árbol de problemas.", "http://www.unesco.org/new/es/culture/themes/%20cultural-diversity/diversity-of-cultural%20expressions/tools/policy-guide/planificar/diagnosticar/arbol-de-problemas/")
        +referenciaItem("Presidencia de la República de Colombia. (13 de marzo de 2020). Decreto 421 de 2000. Por el cual se reglamenta el numeral 4 del artículo 15 de la Ley 142 de 1994, en relación con las organizaciones autorizadas para prestar los servicios públicos de agua potable y saneamiento básico en municipios menores, zonas rurales y áreas urbanas específica.", "http://www.suin-juriscol.gov.co/viewDocument.asp?id=1094519")
        +referenciaItem("Universidad Externado de Colombia. (2019, octubre 7). El deber de acompañamiento de los municipios en la provisión del servicio público de acueducto y alcantarillado.", "https://medioambiente.uexternado.edu.co/el-deber-de-acompanamiento-de-los-municipios-en-la-provision-del-servicio-publico-de-acueducto-y-alcantarillado/")


        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            